@{
    ViewData["Title"] = "URL Table";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/js/Client/styles.css">
</head>
<body>
    <app-root></app-root>
    <script src="~/js/Client/runtime.js" type="module"></script>
    <script src="~/js/Client/polyfills.js" type="module"></script>
    <script src="~/js/Client/main.js" type="module"></script>
</body>
</html>